
<h1>Group</h1>


   <input id="inputGroup" type="text" placeholder="Введите номер группы" style="width:15rem;">
   <button id="showGroup" class="btn btn-primary" style="background-color: rgb(0, 183, 255);">Показать</button>

<div id="listGroup">


</div>