<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Журнал посещаемости</title>
</head>
<body>
    <h1>Расписание занятий</h1>
    <div style="display: flex;">
         <div className="row">
            <div className="input-field col s6">
                <input  id="groupName" type="text" class="validate">
                <label style="font-size:30px" class="active" for="first_name2">Введите номер группы</label>
            </div>
        </div>
            <button disabled="true" class="btn" id="getSchedule">
                    Получить расписание
            </button>
    </div>
    <div id="schedule">

    </div>
</body>
</html>